.top-nav-collapse{
    background: rgba(255 228 225,0.5);
  }
  
  .navbar:not(.top-nav-collapse) {
    background: rgba(96, 96, 96, 0.5);
  }
  
  @media (max-width: 991px) {
    .navbar:not(.top-nav-collapse) {
      background: rgba(96, 96, 96, 0.5);
    }
  }
  
  .rgba-gradient {
    background: rgba(35, 7, 77, 0.6);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgba(204, 83, 51, 0.6), rgba(35, 7, 77, 0.6));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgba(204, 83, 51, 0.6), rgba(35, 7, 77, 0.6)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  
  .streak.streak-photo {
    background-attachment: fixed;
  }
  
  
  
  
  .bg-gray{
      background:rgba(96, 96, 96, 0.5);
  }
  
  .box{
      width: 70%;
      margin: 0 auto;
  }
  
  .fiximage{
      top: 100%;
      height: 120%;
  }
  
  .paddingleft25px{
    padding-left: 25px;
  }
  
  .paddingtop25px{
    padding-top: 25px;
  }
  .paddingall25px{
    padding: 25px;
  }
  .searches-icon{
      width: 1px;
      height: 0.1px;
      margin-right: 25px;
  }

  .pinkback{
      background-color: pink;
  }

  .imgsize{
      width: 250px;
      height: 250px;
  }