.top-nav-collapse{
    background: rgba(255 228 225,0.5);
  }
  
  .navbar:not(.top-nav-collapse) {
    background: rgba(96, 96, 96, 0.5);
  }
  
  @media (max-width: 991px) {
    .navbar:not(.top-nav-collapse) {
      background: rgba(96, 96, 96, 0.5);
    }
  }
  
  .rgba-gradient1 {
    background: rgba(97, 65, 212, 0.6);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgba(104, 39, 9, 0.253), rgba(23, 34, 184, 0.6));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgba(18, 94, 145, 0.6), rgba(21, 86, 170, 0.6)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  .rgba-gradient2 {
    background: rgba(103, 39, 199, 0.6);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgba(117, 21, 117, 0.6), rgba(136, 88, 209, 0.6));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgba(142, 80, 212, 0.6), rgba(104, 15, 67, 0.6)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  .rgba-gradient3 {
    background: rgba(0, 80, 253, 0.788);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgba(44, 93, 230, 0.705), rgba(137, 73, 233, 0.6));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgba(39, 187, 197, 0.6), rgba(89, 39, 163, 0.6)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  
  .streak.streak-photo {
    background-attachment: fixed;
  }
  
  
  
  
  .bg-gray{
      background:rgba(96, 96, 96, 0.5);
  }

  .bg-pink{
    background: rgba(255, 182, 193, 0.3);
  }
  .box{
      width: 70%;
      margin: 0 auto;
  }
  
  .fiximage{
      top: 100%;
      height: 120%;
  }
  
  .paddingleft25px{
    padding-left: 25px;
  }
  
  .paddingtop25px{
    padding-top: 25px;
  }
  .paddingall25px{
    padding: 25px;
  }
  .searches-icon{
      width: 1px;
      height: 0.1px;
      margin-right: 25px;
  }

.pad_bot{
    padding-bottom: 40px;
}
.mar_bot{
	margin-bottom: 40px;
}
.mar_top{
  margin-top: 30px;
}
.radius20{
  border-radius: 20px;
}
.radius50{
  border-radius: 50%;
}